/* src/styles/textStyles.css */

/* title1 */
.title1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

/* title2 */
.title2 {
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  font-size: 32px;
}

/* subtitle2 */
.title3 {
  font-family: 'Noto Serif', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

/* subtitle1 */
.subtitle1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

/* subtitle2 */
.subtitle2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* text1 */
.text1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* text2 */
.text2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200;
  font-size: 13px;
}

/* text3 */
.text3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* buttontext1 */
.buttontext1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
